.single-panel {
  width: 100%;
  height: 100%;
  text-align: center;
  box-sizing: border-box;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.single-value {
  font-weight: bold;
  line-height: 1;
}

.single-label {
  margin-top: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
